
<div class="navBar">
    <span class="navLink" action="/members/home/">Home</span>    
    <span class="navLink" action="/members/data/">Data</span>    
    <span class="navLink" action="/members/news/">News</span>    
    <span class="navLink" action="/logout/">Log-out</span>    

</div>

<script>
    for (let n of document.getElementsByClassName('navLink')) {
        n.addEventListener('click',function(){ window.open(this.getAttribute('action'),'_parent')})
    }
</script>