
<div class="navBar">
    <span class="navLink" action="/new">Register</span>
    <span class="navLink" action="/login">Login</span>
    
</div>
<script>
    for (let n of document.getElementsByClassName('navLink')) {
        n.addEventListener('click',function(){window.open(this.getAttribute('action'),'_parent')})
    }
</script>