<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <link rel="stylesheet" href="../auth.css">
    <title>ntx/rx - admin</title>
    <style>
            
        :root {
            --c-hue: 140;
            --c-sat: 0%;
        }

        .adminPanel {
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(8rem, 1fr));
            gap: 1rem;
            margin:1rem;
        }

        .adminButton {
            display: inline-flex;
            font-size: 0.8rem;
            background-color:hsl(var(--c-hue), var(--c-sat), 25%);
            border-radius: 0.3rem;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 3rem;
            cursor: pointer;
            user-select: none;
            padding: 0.3rem;
        }
        
    </style>
    

</head>
<body>
    <%- include('_header_members.ejs') %>
    <div class="adminPanel">
        <span class="adminButton" action="updateExchangeRate">Update Exchange Rate</span>
        <span class="adminButton" action="updateEnvData">Update Env Data</span>
        <span class="adminButton" action="updateCurrentWeather">Update Current Weather</span>
        <span class="adminButton" action="forceDataUpload">Force Data Upload</span>

    </div>
</body>


<script>

let clientId;

window.addEventListener('load',()=>{  
    const serverEvents = new EventSource('/events');
    serverEvents.addEventListener('message',(event)=>{
        let data = JSON.parse(event.data);
        console.log(data);
        if (data.event==undefined) return;
        switch (data.event) {
            case 'register':
                clientId = data.clientId;
                break;              
        }
        
    });

    for (let button of document.getElementsByClassName('adminButton')) {
        button.addEventListener('click',()=>requestAction(button));
    }    
})

function requestAction(button) {
    const action = button.getAttribute('action');
    
    let dataObject= {device : 'server', command : 'runFunction', function: action};
    postForm('/action',dataObject);
}

    
function postForm(url, object) {
    object.clientId=clientId;
    fetch(url, {
        method : "POST",
        body: encodeURIComponent(JSON.stringify(object)),
    })
}

</script>
</html>