<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <link rel="stylesheet" href="auth.css">
    <script src="login.js"></script>
    <title>Document</title>
</head>
<body>
    <%- include('_header.ejs') %>

    <form method="post" action="/auth">
        <div class="loginForm">
            <div style="margin-bottom: 1rem">Login</div>

            <div>
                <input type="text" name="email" id="email" alt="User Name" required>
                <label for="username">Email</label>
            </div>
    
            <div>
                <input type="password" name="password" id="password" required>
                <label for="password">Password</label>
            </div>

            <div>
                <input id="submit" type="submit" value="login">    
            </div>
        </div>
    </form>
</body>
</html>