<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <link rel="stylesheet" href="/auth.css">
    <title>ntxrx - log out</title>
</head>
<body>
    <div class="center">
        <div>
        <span style="font-size:1.5rem; display: block;">Successfully logged out.</span>
        <span style="font-size:0.9rem; display: block; margin-left: auto;">Redirecting to login page.</span></div>
    </div>
</body>
<script>
    setTimeout(()=>{window.open('/login','_parent')},3000)
</script>
</html>