<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <link rel="stylesheet" href="../auth.css">
    <link rel="stylesheet" href="../members.css">
    <link rel="stylesheet" href="../news.css">
    <script src="../news.js"></script>

    <title>ntx/rx - members news</title>
</head>

<body>
    <%- include('_header_members.ejs') %>
    <div class="title">News</div>
        <div class="sections">
            <span class="section" section="world">World</span>
            <span class="section" section="business">Business</span>
            <span class="section" section="technology">Technology</span>
            <span class="section" section="markets">Markets</span>
            <span class="section" section="world/middle-east">Middle East</span>
            <span class="section" section="world/europe">Europe</span>
            <span class="section" section="tr">Turkce</span>
        </div>
        
        <div id="news">
        </div>
</body>

</html>